.navbar{
    padding: 0;
    margin: -8px;
    display: flex;
    flex-direction: column;
}
.firstNav ul , .secondNav ul{
    display: flex;
    align-items: center;
}
.firstNav{
    padding: 0;
    margin: 0;
    height: 56px;
    display: flex;
    background-color: greenyellow;
}
.firstNav ul li  , .secondNav ul li {
    margin: 5px;
    list-style: none;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}
.secondNav ul li {
    box-shadow: inset -1px -1px 10px -1px greenyellow;
    border-radius: 10px;
    padding: 10px;
}
.firstNav ul li {
    padding: 10px;
}
.Sales{
    background: #66a466;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24%;
    height: 70.6667px;
    position: relative;
    left: 4%;
    padding: 10px;
    border-bottom-left-radius: 117px;
    border-top-right-radius: 117px;
    transition: width 0.5s ease;
    overflow: hidden;
}
.Sales.active{
    width: 86%;
    transition: width 0.5s ease;
}
.main_nav ul , .Salenav ul{
    display: flex;
}
.main_nav ul li  , .Salenav ul li {
    margin: 0px 13px;
    background: white;
    padding: 10px;
    border-radius: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    list-style: none;
}
 .sale-box{
    position: absolute;
    width: 66%;
    height: 85%;
    left: 16%;
    top: 19%;
    border-radius: 10px;
    background: #afee51a1;
 }
 .body::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('green-leaves-background-39hzfg9nvuarivt1.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center; 
    margin: -8px;
    top: 18%;
    z-index: -1;
    filter: blur(2px);
}
.section{
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 20%;
    
}
.sales_return{
    display: none;
    border: 4px solid yellowgreen;
    background: white;
    border-radius: 10px;
    padding: 1px 31px;
    margin-top: -136px;
    margin-left: -220px;
}
.Coustmer_details{
    display: none;
    border: 4px solid yellowgreen;
    background: white;
    border-radius: 10px;
    padding: 1px 31px;
    margin-top: -136px;
    margin-left: -220px;
    height: 71vh;
}
.deposite{
    display: none;
    border: 4px solid yellowgreen;
    background: white;
    border-radius: 10px;
    padding: 1px 31px;
    margin-top: -136px;
    margin-left: -220px;
    height: 71vh;
}
.details{
   display: flex;
   flex-direction: column;
   margin-left:-35px ;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.searchby{
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: greenyellow;
    padding: 13px 34px;
}

.tabledata{
    margin: 2%; /* Adjust margin as needed */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:0 ;
}
input{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #47c747;
}
select{
    border-radius: 5px;
}
table {
    border: 2px solid #333;
    width: 100%;
    border-collapse: collapse;
}

/* Apply styles to table header cells */
th {
    border: 2px solid #333;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/* Apply styles to table data cells */
td {
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
}
.bill-container{
    display: inline-grid;
    grid-template-columns: repeat(2, 13rem);
    margin-left: 39rem;
}
.bill-item input{
    align-self: center;
    box-shadow: inset -1px -1px 10px -1px greenyellow;
    border: 0;
    width: 55px;
    padding: 10px;
}
button{
    background: #47c747;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -1px #94d09499;
    border: 0;
}
.buttons{
    position: absolute;
    left: 62px;
    margin-top: 12px;
}
.Coustmers{
    display: flex;
    flex-direction: column;
}
.bill_details{
    display: flex;
    flex-direction: column;
}